<% provide(:title, 'About Us') %>
	<h1>About</h1>
	
	<div class="row">
		<div class="span6 offset3">
			<p>
			Job Trends initially started out as a simple idea for a week-long project.  As we delved into the project, we realised the information we had was something many would find useful.  The main question we wanted to solve was what job skills are tech employers looking for?  
			</p>
			<br>
			<p>
			Out of this simple question, now comes a tool to answer this question.
			</p>
			<br>
			<h6>Our mission:</h6><h5> To empower you with the information you need to spur your career growth.</h5>
		</div>
	</div>	
		