
<div class="center hero-unit hero-bg">
  <h1>Want to know what skills are in demand?</h1>

  <h2>
  	 We know the little details job reports don't tell you.
  </h2>

</div>
<!--
	<script>
	  $(document).ready(function(){
	    $('.carousel').carousel({
	      interval: 8000
	    });
	  });
	</script>
-->
<!--
<div id="carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path( 'carousel/1.jpg' ) %>" alt="" />
      <div class="carousel-caption">
        <p>Huge thunderstorm and Lupin over Yosemite High Country</p>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path( 'carousel/2.jpg' ) %>" alt="rainbow over Yosemite" />
      <div class="carousel-caption">
        <p>Rainbow after thunderstorm - Tuolumne Meadows, Yosemite</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div>
--><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
 <!--
   <a class="carousel-control left" href="#carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel-id" data-slide="next">&rsaquo;</a>
</div>
--><!-- /.carousel -->



  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->